Q>1


A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of information. Databases are used in a wide range of applications, from managing customer information in a business to storing scientific research data.

SQL Databases:
1.Structured Data  2.Schema  3.Vertical Scalability

NoSQL Databases:
1.Flexible Data Models 2.Schema-less  3.Horizontal Scalability

Q>2

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a relational database. DDL statements allow you to create, modify, and delete database objects such as tables, indexes, and constraints. Here's an explanation of some common DDL statements and why they are used, along with examples:

i) CREATE

CREATE TABLE school( first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(50), age INT);

ii) DROP

DROP TABLE school;

iii) ALTER

ALTER TABLE school
ADD phone_no INT;

iv) TRUNCATE

TRUNCATE TABLE school;

Q>3

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a relational database. DML statements allow you to perform operations like inserting, updating, and deleting data in database tables. Here's an explanation of some common DML statements and examples of each:

i) INSERT

INSERT INTO school values(rahul, roy , rahulroy01@gmail.com , 21);

ii) UPDATE

UPDATE email

SET email ='royrahul@gmail.com'

WHERE email = 'rahulroy01@gmail.com';     


iii) DELETE

DELETE FROM school

WHERE name = 'raja';

Q>4

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for retrieving data from a relational database. The primary DQL statement is SELECT, which allows you to query a database to retrieve specific data from one or more tables. Here's an explanation of the SELECT statement with an example:

The SELECT statement is used to specify what data you want to retrieve from the database. It can be used to select specific columns, filter rows based on conditions, and even join multiple tables to extract related information.


SELECT first_name,age

FROM school

WHERE age>20;

Q>5

Primary Key:

A primary key is a column or a set of columns in a relational database table that uniquely identifies each row or record in that table. Here are some key characteristics and considerations regarding primary keys:

Uniqueness: The primary key ensures that each value in the key column(s) is unique across all rows in the table. This uniqueness is critical because it enables you to distinguish one row from another.

Non-null: A primary key column cannot contain NULL values, as NULLs would prevent the uniqueness requirement from being satisfied.


Foreign Key:

A foreign key is a column or set of columns in one table that is used to establish a link between the data in two related tables. It creates a referential integrity constraint, ensuring that data in the foreign key column(s) of one table matches the primary key values in another table. Key points about foreign keys include:

References a Primary Key: A foreign key references a primary key in another table. It establishes a relationship between the two tables, typically representing a parent-child or related entity relationship.

Enforces Referential Integrity: The presence of foreign keys enforces referential integrity, ensuring that data in the child table (the one containing the foreign key) corresponds to valid data in the parent table.

In [ ]:
Q>6

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("create table if not exists test3.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT , c4 INT , c5 VARCHAR(30)) ;")
mydb.close()